body {
    display: flex;
    height: 100vh; /* Set height to 100% of viewport height */
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form p {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form button {
    background-color: #0073b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.registration-form a {
    text-decoration: none;
    color: #0073b9;
}

#forms {
    margin-right: 30px;
}