body {
    display: flex;
    height: 100vh; /* Set height to 100% of viewport height */
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    /* padding: 10px; */
    margin-bottom: 10px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
}

.login-form a {
    text-decoration: none;
    color: #007bff;
}

#loginForm {
    margin-right: 30px;
}